<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} Photo</title>
</head>
<body>
    <a href="{% url 'photo:create' %}" class="">Create</a>
    <a href="{% url 'user:logout' %}" class="">Logout</a>
    <a href="{% url 'user:login' %}" class="">Login</a>
    <a href="{% url 'user:register' %}" class="">Sign Up</a><br>


    {% block content %}

    {% endblock %}
</body>
</html>