{% extends 'photo/base.html' %}

{% block content %}
<div class="col-sm-6">
  {% for pic in pics %}
  <div class="card" style="width: 15rem;">
    {% if pics %}
    <img src="{{ pic.image.url }}" class="card-img-top" alt="{{ image.pic.name }}">
    {% endif %}
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">{{ pic.description }}</p>
      <a href="{% url 'photo:detail' pic.id %}" class="btn btn-primary">View Photo</a>
    </div>
  </div>
  {% endfor %}
</div>


<h2>Categories</h2>
  {% for category in categories %}
     <h4>{{category.name}}</h4>
      <p>{{category.pics.count}} pics</p>
   
     {% endfor %}
</ul>
{% endblock %}