{% extends 'photo/base.html' %}

{% block content %}
<h2>index page </h2>
<h2>images</h2>
{% for pic in pics %}

<div>
   <a href="{% url 'photo:detail' pic.id %}" class="">
   {% if pics %}
     <img src="{{ pic.image.url }}" alt="{{ image.pic.name }}" style="width:100px">
   </a>
     {% else %}
   <p>No images found.</p>
 {% endif %}
</div>
<p>{{ pic.description }}</p>
<a href="{% url 'photo:detail' pic.id %}" class="">View photo</a>

{% endfor %}
<h2>Categories</h2>
  {% for category in categories %}
     <h4>{{category.name}}</h4>
      <p>{{category.pics.count}} pics</p>
   
     {% endfor %}
</ul>
{% endblock %}